body{
    background-color: #0C1519;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #192d34;
    border: 0.3px solid rgb(65, 65, 65);
}
.Giriş{
    float: right;
    background-color: rgb(249, 33, 33);
    margin-right: 100px;
    margin-top: 20px;
    border-radius: 10px;
    width: 100px;
}
ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}
.Giriş:hover{
    transform: scale(1.1);
    transition: 0.3s;
    
}
.Site{
    float: left;
    padding: 20px;
    font-size: 30px;
    font-family: "Anton";
    margin-left: 60px;
}
.div{
    background-color:  #161b22;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    border: 0.3px solid rgba(255, 255, 255, 0.63) ;
    margin: 20px;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.container .div:hover {
    border-color: blue;
    transform: translateY(-10px);
}
img{
    width: 300px;
    height: 200px;
}
h3{
    color: rgba(255, 255, 255, 0.616);
}
h2{
    color: white;
}
.div { cursor: pointer; }
#box {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(12, 21, 25, 0.6); 
    text-align: center;
}
#box .detail-content {
    background-color: #161b22;
    padding: 40px;
    border-radius: 20px;
    border: 0.3px solid rgba(255, 255, 255, 0.2);
    width: 650px;          
    display: flex;
    flex-direction: row;  
    gap: 35px;             
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    align-items: center;    
}


#box .detail-content div h3 {
    margin: 10px 0 0 0;
    font-family: sans-serif;
}


.right-side {
    display: flex;
    flex-direction: column; 
    gap: 5px;              
    align-items: flex-start;
}

#Btprice {
    color: #8860fd;
    font-size: 26px;       
    font-weight: bold;
    margin: 0;
    font-family: sans-serif;
}


#closeBtn, #Purchace {
    display: inline-block;  
    vertical-align: middle;
}


#closeBtn {
    padding: 10px 20px;
    background-color: #222b3a;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    margin-right: 10px;  
}

#closeBtn:hover {
    transform: scale(1.1);
}


#Purchace {
    background-color: rgb(1, 202, 1);
    color: white;
    width: 90px;            
    font-size: 13px;
    border-radius: 20px;
    border: none;
    padding: 10px 0;        
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
}

#Purchace:hover {
    transform: scale(1.1);
}



.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: left;
}

.div2{
    background-color: #161b22;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    padding: 30px;
    border: 0.3px solid rgba(255, 255, 255, 0.63) ;
    transition: transform 0.3s ease, border-color 0.3s ease;
}
.div2:hover{
    border-color: blue;
    transform: translateY(-10px);
}
.btn-group{
     display: flex !important;   
    flex-direction: row;        
    gap: 5px;                  
    align-items: center;    
    margin-top: 10px;
}
